.statis__wrapper {
    width: 100%;
    padding-top: 10px;
}

.statis__overview {
    display: flex;
    justify-content: space-between;
}

.statis__revenue {
    width: 48%;
    /* background: linear-gradient(45deg, #00ffff, #93278f); */
    background-color: #00ffff;
}

.statis__product {
    width: 48%;
    /* background: linear-gradient(45deg, #ff0a6c, #4a3cdb); */
    background-color: #00ffff;
}

.statis__revenue,
.statis__product {
    border-radius: 5px;
    padding: 10px;
    min-height: 200px;
    text-align: center;
}

.statis__title {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #222;
}

.statis__content {
    display: block;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
    color: #222;
}

.statis__productdes {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    color: #222;
    margin-top: 20px;
}

/* css for loader */
.wrapper__loader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.loader,
.loader::before,
.loader::after {
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    animation: rotate 5s linear infinite;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    border-color: #5a4ff3;
}

.loader::before,
.loader::after {
    position: absolute;
    content: '';
}

.loader::before {
    border-color: #35a2d2;
    width: 110%;
    height: 110%;
    animation-delay: 0.5s;
}

.loader::after {
    border-color: #9c40fc;
    width: 120%;
    height: 120%;
    animation-delay: 0.1s;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
